table {
  width: 100%;
  margin: 1em 0;
  text-align: center;
  border-collapse: collapse;
}
.vertical {
  writing-mode: vertical-rl;
}
.you {
  color: blue;
}
.partner {
  color: #b50000;
}
.inner p.right {
  text-align: right;
  color: blue;
  background-color: white;
}
.inner p.left {
  text-align: left;
  color: #b50000;
  background-color: white;
}
.cyan {
  background-color: cyan;
}
.pink {
  background-color: pink;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
.red {
  background-color: red;
}
.orange {
  background-color: orange;
}
