name: Code sniffer custom modules/themes.
permissions:
  contents: read

on: [push]

jobs:
  build:
    name: Install dependencies and run phpcs.
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php_version: ['8.4']

    steps:
      - name: Check out code.
        uses: actions/checkout@v6

      - name: Set up PHP ${{ matrix.php_version }}.
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php_version }}

      - name: Install dependencies.
        run: composer install --dev

      - name: Run phpcs with Drupal coding standards.
        run: >
          ./vendor/bin/phpcs \
            --standard="Drupal,DrupalPractice" -n \
            --extensions="php,module,inc,install,test,profile,theme" \
            modules/contrib/tragedy_commons
